name: test workflow
on:
  #push
  workflow_dispatch:
# env:
#   # Setting an environment variable with the value of a configuration variable
#   env_var: ${{ vars.ENV_CONTEXT_VAR }}

jobs:
  prod-check:
    runs-on: ubuntu-latest
    #if: runner.os == 'Windows'
    steps:
      - run: echo "Deploying to production server on branch $GITHUB_REF"

  runner-context:
    needs: prod-check
    runs-on: windows-latest
    #if: runner.os == 'Windows'
    steps:
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: |
          echo "$RUNNER_CONTEXT"
          if: runner.os == 'windows'
            echo "runner is windows"
